<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/singup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <h1>Create acount</h1>

    <div class="container" id="container">

        <form action="/signup" method="POST">

            <div class="social-container">
                <a href="/home" class="social"><i class="fa fa-facebook-square fa-4x" aria-hidden="true"></i></i></a>
                <a href="/home" class="social"><i class="fa fa-google fa-4x" aria-hidden="true"></i></i></a>
                <a href="/home" class="social"><i class="fa fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
            </div>
            <span>or use your account</span>
            <input type="text" name="name" value="" placeholder="Name" />
            <input type="email" name="email" value="" placeholder="Email" />
            <input type="password" name="pass" value="" placeholder="Password" />

            <button type="submit">Create</button>

        </form>



    </div>
</body>

</html>