@media only screen and (min-device-width: 768px) {
    .form {
        padding: 10px;
        background-color: rgb(228, 222, 222);
        margin: auto;
        text-align: center;
        width: 100%;
    }
}

h1,
p {
    text-align: center;
    text-transform: uppercase;
}

input,
textarea,
button {
    width: 80%;
    display: inline-block;
}

textarea {
    height: 200px;
}

.actions {
    text-align: center;
}

button {
    text-align: center;
    display: inline-block;
}

button:hover {
    background-color: rgb(216, 49, 49);
}

#mota {
    text-transform: capitalize;
}