<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body ng-app="app">
    <div class="container-fluid" ng-controller="control1">
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="img/simple-house-01.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="./img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">Simple House</h1>
                                <h6 class="tm-site-description">Restaurant, HI
                                    <%=DataUser[0]%>
                                </h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li"><a href="home" class="tm-nav-link active">HOME</a></li>
                                <li class="tm-nav-li">
                                    <a href="cart" class="tm-nav-link">  CART ({{lenght()}})</a>
                                </li>
                                <li class="tm-nav-li"><a href="login" class="tm-nav-link">ACOUNT</a></li>
                                <li class="tm-nav-li"><a href="logout" class="tm-nav-link">LOG OUT</a></li>
                                <li class="tm-nav-li"><a href="admin" class="tm-nav-link">SERVER</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>